<ion-view view-title="下单">
	<ion-content  class="xiadan">
		
		<div class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>服务类型：</div>
			<select class="select-label" name="sel1">
				<option>服务内容</option>
				<option selected>Green</option>
				<option>Red</option>
			</select>
			<select class="select-label" name="sel2">
				<option>asdasd</option>
				<option selected>asd</option>
				<option>qwe</option>
			</select>
		</div>
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>服务电话：</div>
			<input type="text" />
		</label>
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>客户姓名：</div>
			<input type="text" />
		</label>
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>地址：</div>
			<input type="text" />
		</label>
		<label class="item item-input">
			<div class="input-label">备注：</div>
			<input type="text" />
		</label>
		
		<label class="item item-input captcha">
			<div class="input-label">
				<i class="icon ion-star"></i>验证码：</div>
			<input type="text" placeholder="请输入右侧验证码"/>
			<canvas class="checkcode-img" width="150" height="46"></canvas>
		</label>

		<button class="button button-full button-positive">
		  提交预定
		</button>
				
	</ion-content>
</ion-view>