<ion-view view-title="个人中心">

   <ion-nav-buttons side="right">
       <a href="#/tab/accountEdit" class="button button-clear button-positive" style="color: #fff; font-size:14px"
         ng-show="isLogined === true"
         >编辑</a>
    </ion-nav-buttons>
   
  <ion-content scroll="false" class="my-info-wrap">
     
     <div class="login-wrap" ng-show="isLogined === false">
       
        <button class="button button-large button-assertive" ng-click="loginBaidu()">
          百度账号登录
        </button>
        
        <button class="button button-large button-positive" ng-click="loginQQ()">
          QQ账号登录
        </button>
        
     </div>
 
     <div ng-show="isLogined === true" >
  
      
      <div class="my-info-1">
        <img src="http://i.gtimg.cn/vipstyle/frozenui/1.2.0/img/default.png?_bid=306" />
        <span>{{name}}</span>
      </div>
       
       <ul class="ui-list ui-list-text ui-list-link ui-border-tb mt20">
            <li class="ui-border-t"  ng-click="goto('/tab/accountEdit')">
                <p>手机号:<span class="info">{{accountInfo.telephone}}</span></p>
             </li>

            <li class="ui-border-t"  ng-click="goto('/tab/accountEdit')">
                  <p>常用地址:<span class="info">{{accountInfo.address}}</span></p>
            </li>
        </ul>
       
       <ul class="ui-list ui-list-text ui-list-link ui-border-tb mt20">
          <li class="ui-border-t ui-list-item-link" ng-click="goto('/tab/orderList')">
               <p>我的订单</p>
          </li>
      </ul>
       <a href="javascript:;" class="quit-btn mt20" ng-click="logout()">退出登录</a>
     </div>
     
     
  </ion-content>
</ion-view>
