<ion-view view-title="下单">
	<ion-content class="xiadan">
		
		<div class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>服务类型：</div>
	
			<select name="select-label" ng-model="$parent.curService"
                    ng-options="service.service_name for service in services">
                <option disabled selected value="">选择类型</option>
            </select>

		</div>
		
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>服务电话：</div>
			<input type="text" placeholder="请输入您的联系电话" type="tel" ng-model="$parent.tel"/>
		</label>
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>客户姓名：</div>
			<input type="text" placeholder="请输入您的真实姓名" ng-model="$parent.name" />
		</label>
		<label class="item item-input">
			<div class="input-label">
				<i class="icon ion-star"></i>地址：</div>
			<input type="text" placeholder="请输入您的街道信息" ng-model="$parent.street"/>
		</label>
		<label class="item item-input">
			<div class="input-label" style="width: 10%">备注：</div>
			<input type="text" placeholder="" ng-model="$parent.additional"/>
		</label>
		
		<div class="item item-input captcha">
			<div class="input-label">
				<i class="icon ion-star"></i>验证码：</div>
			<input type="tel" placeholder="请输入右侧验证码" ng-model="$parent.checkcode" maxlength="4"/>
			<canvas class="checkcode-img" width="150" height="46"></canvas>
			<i class="ion-loop" ng-click="changeCaptcha()"></i>
		</div>

		<button class="button button-full button-positive" ng-click="submit()">
		  提交预定
		</button>
				
	</ion-content>
</ion-view>