.sprites-sprite, .sprites-icon-heart-off, .sprites-icon-heart-on, .sprites-icon-house-off, .sprites-icon-house-on, .sprites-icon-leaf-off, .sprites-icon-leaf-on, .sprites-icon-people-off, .sprites-icon-people-on { background-image: url('/img/sprites-s6a724bbbf8.png'); background-repeat: no-repeat; }

.sprites-icon-heart-off { background-position: 0 0; }

.sprites-icon-heart-on { background-position: 0 -52px; }

.sprites-icon-house-off { background-position: 0 -104px; }

.sprites-icon-house-on { background-position: 0 -156px; }

.sprites-icon-leaf-off { background-position: 0 -208px; }

.sprites-icon-leaf-on { background-position: 0 -260px; }

.sprites-icon-people-off { background-position: 0 -312px; }

.sprites-icon-people-on { background-position: 0 -364px; }

.links { background-size: 100% auto; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; background-repeat: no-repeat; }
.links .col-25 { color: #6a6a6a; text-align: center; }
.links img { width: 41px; height: 41px; margin: 0 auto; display: block; }
.links p { font-size: 12px; margin-bottom: 0; }

.new-list .item-thumbnail-left > img { max-height: initial; height: auto; }
.new-list .new_list_content { font-size: 12px; color: grey; display: block; height: 40px; overflow: hidden; text-overflow: initial; white-space: initial; }
.new-list .new_list_content span { font-size: 14px !important; color: grey !important; }
.new-list h2 { margin-top: 3px; margin-bottom: 10px; }
.new-list .item-thumbnail-left { padding-bottom: 0px; min-height: 95px; }

.icon.sprites-icon-house-on { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 16px; height: 16px; background-position: 0 -78px; width: 18px; height: 18px; }
.icon.sprites-icon-house-off { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 16px; height: 16px; background-position: 0 -52px; width: 18px; height: 18px; }
.icon.sprites-icon-heart-on { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 18px; height: 16px; background-position: 0 -26px; width: 18px; height: 18px; }
.icon.sprites-icon-heart-off { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 18px; height: 16px; background-position: 0 0; width: 18px; height: 18px; }
.icon.sprites-icon-heart-on { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 18px; height: 16px; background-position: 0 -26px; width: 18px; height: 18px; }
.icon.sprites-icon-leaf-off { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 15px; height: 16px; background-position: 0 -104px; width: 18px; height: 18px; }
.icon.sprites-icon-leaf-on { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 15px; height: 16px; background-position: 0 -130px; width: 18px; height: 18px; }
.icon.sprites-icon-people-on { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 17px; height: 16px; background-position: 0 -182px; width: 18px; height: 18px; }
.icon.sprites-icon-people-off { -moz-background-size: 18px 198px; -o-background-size: 18px 198px; -webkit-background-size: 18px 198px; background-size: 18px 198px; width: 17px; height: 16px; background-position: 0 -156px; width: 18px; height: 18px; }

.tab-title { margin-top: 4px; display: block; }

.tab-nav > a { padding-top: 5px; }

.news-detail { padding: 10px 15px 15px; }
.news-detail h3 { margin-bottom: 12px; line-height: 1.4; font-weight: 400; font-size: 18px; text-align: center; }
.news-detail > img { display: block; margin-bottom: 6px; }
.news-detail p { text-indent: 35px; }
.news-detail span { font-size: 16px !important; color: grey !important; }

.select-label { width: 85px; -webkit-appearance: menulist; border: 1px solid #e0e0e0; font-size: 13px; margin-right: 10px; }

.xiadan { background: #f0f0f0; padding-top: 10px; }
.xiadan .ion-star { font-size: 12px; color: #ff6c00; margin-right: 7px; }
.xiadan .input-label { font-size: 14px; width: 30%; }
.xiadan .button-full { width: 90%; margin: 0 auto; margin-top: 30px; }

.captcha { margin-top: 18px; }
.captcha .checkcode-img { transform: scale(0.5); -webkit-transform: scale(0.5); position: absolute; right: -26px; top: -4px; }

#allmap { width: 100%; height: 100%; }
